## Python Class 1 - command to execute is shift+enter

## Comments in Python

In [ ]:
# Comment means an non executable code

# Single line comment

'''
MUltiline comments
'''

'\nMUltiline comments\n'

## Print functions in Python

In [ ]:

#keywords are group of words that have a specific functionality
print ("Hello World")

Hello World

In [ ]:
#to check version of python
!python --version

Python 3.10.12

In [ ]:
'''
Python is a interpretor.

code -> Compiler/interpretor(Syntax check) -> MachineCode

Compiler : Tries to execute the code at once
Interpretor : tries to compile the code line by line
'''

## Indentation

In [ ]:
if 5 > 2:
  print ('Five is greater than two')

Five is greater than two

In [ ]:
if 5 > 2:
  print ('hello')
  if 3 < 7:
    print ('hi')
    print ('1')

print ('Five is greater than two')

hello
hi
1
Five is greater than two

In [ ]:
# This is a python class

'''
This is Ajay
DataScientist at DELL
'''

'\nThis is Ajay\nDataScientist at DELL\n'

## Variables

In [ ]:
#variables are something that tend to change
x = 5
y = "King" # all the words or sentences should be in ""
print (x)
print (y)

5
King

In [ ]:
#variable values can be replaced
x = 5
print (x)
x = 'Ram'
print (x)

5
Ram

In [ ]:
x = 10
if x > 5:
  print ('Hello world')

Hello world

## Casting

In [ ]:
x = 3
print (type(x)) # type is the keyword to find the datatype in python

<class 'int'>

In [ ]:
x = int(3)
x = str(3)
x = float(3)

In [ ]:
x

3.0

In [ ]:
# declare a variable x with 100 and convert it to string and print

x = 100
y = str(x)
print (y)

100

In [ ]:
str(100)

'100'

In [ ]:
x = "John"
x = 'John'
# python '' or "" mean the same

In [ ]:
x = 'Ajay'
if x == 'Ajay':
  print ('My name is Ajay')

My name is Ajay

In [ ]:
# formatting
x = 'Ajay'
if x == 'Ajay':
  print (f'My name is {x}')

My name is Ajay

In [ ]:
apples = 40
oranges = 20

print (f'I boughts {apples} apples and {oranges} oranges')

I boughts 40 apples and 20 oranges

In [ ]:
# Restrictions on how variable names are declared
'''
myvar,my_var,_my_var,myVar,MYVAR,myvar2 -- Legalones

2myvar,my-var, my var
'''

In [ ]:
x, y, z = 'Orange','Apple','Banana' # Many values to many vaiables

print (x)
print (y)
print (z)

Orange
Apple
Banana

In [ ]:
x = y = z = 'Grapes' #one value to multiple variables

print (x)
print (y)
print (z)

Grapes
Grapes
Grapes

In [ ]:
#unpack a collection

fruits = ['apple','banana','Mango']
x,y,z = fruits
print (x)
print (y)
print (z)

apple
banana
Mango

In [ ]:
# 1. create collection of 4 names and print using format
# 2. Create a varibles names with 4 legal and 4 ilegal
# 3. Declare same value to 3 vaiables and convert first variable to string, second to float and third to float. print all three variables

In [ ]:
names = ['Ravi','Raju','Ram','Vinay']

x,y,z,w = names

print (f'The name is {x}')
print (f'The name is {y}')
print (f'The name is {z}')
print (f'The name is {w}')

The name is Ravi
The name is Raju
The name is Ram
The name is Vinay

In [ ]:
x=y=z=3
print (str(x))
print (float(y))
print (float(z))

3
3.0
3.0

# print function for multiple variables

In [ ]:
a = 'United' #string
b = 'states' #string
c = ' '
print (a+b) #+ operator is used to concatenate two strings
print (a+c+b)
print (f'{a} {b}')

Unitedstates
United states
United states

In [ ]:
# Qustion is I bought 4 apples as varibales : Concatenate them

x = 'I '
y = 'bought '
z = '4 '
w = 'apples'

print (x+y+z+w)

I bought 4 apples

## Functions

In [ ]:
'''
Scenario : Addition of three numbers

1,2,3
4,5,6
7,8,9
'''

In [ ]:
x = 1
y = 2
z = 3

print (x+y+z)

x = 4
y = 5
z = 6

print (x+y+z)

x = 7
y = 8
z = 9

print (x+y+z)

6
15
24

In [ ]:
def sum3(x,y,z): # def funcname(arguments) : Function creation
  sum = x+y+z
  return sum

print (sum3(1,2,3)) # function calling
print (sum3(4,5,6)) # function calling
print (sum3(7,8,9)) # function calling

6
15
24

In [ ]:
# declare a variable with a value awesome and create a function that prints "Python is awesome"

def func1(a): #varibles that are there in the method are called local variables
  x = 'fantastic'
  print (f'Python is {a}')

x = 'awesome' #varibles that are declared outside the method are called as global variables
func1(x)

Python is awesome

In [ ]:
variable = "awesome"
def print_x(m):
    print("Python is",m)

print_x(variable)

Python is awesome

In [ ]:
# python method to find sum and multiplication of three numbers
# hint : methodname(2,3,4,'sum')

def summul(a,b,c,operation):
  if operation == 'sum':
    ans = a+b+c

  if operation == 'mul':
    ans = a*b*c

  return ans

In [ ]:
summul(2,3,4,'sum')

9

In [ ]:
summul(2,3,4,'mul')

24

In [ ]:
5%2

1

In [ ]:
# python method findevenorodd(45)
#Hint : num % 2 == 0 : % Remainder

In [ ]:
def findevenorodd(num):
  if (num % 2 == 0):
    print ('even')
  if (num % 2 != 0):
    print ('odd')

findevenorodd(444)

even

In [ ]:
def findevenorodd(num):
  if (num % 2 == 0):
    result = 'even'
  if (num % 2 != 0):
    result = 'odd'
  return result

findevenorodd(444)

'even'

## DataTypes in Python

In [10]:
'''
Text type : str
NUmeric ical TYpes : int, float, comple
Sequene datatypes : list, tuple and range
Mapping TYpe : dict
settypes : set
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
'''
x = 'Dog killed a cat'
y = 64
z = 75.432
m1 = ['aijigr','fhuwhebr','fg'] # list needs to be in square bracket, list can take only strings, only numbers or both
m2 = [4,5.67,5.21]
m3 = ['deesg',4.4,'gregr']
n1 = ()
l1 = [i for i in range(10)]
l2 = [i for i in range(0,5)] #(start position, end_position)
l3 = [i for i in range(0,5,2)]

In [7]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l2

[0, 1, 2, 3, 4]

In [11]:
l3

[0, 2, 4]

In [5]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
l2 = [i for i in range(20,40)]
l2 = [i for i in range(20,40,4)]

In [12]:
x = 1
y = 2.8

In [13]:
type(x)

int

In [14]:
type(y)

float

In [15]:
a = float(x)
b = int(y)

In [19]:
import random #import is a keyword to call the libraries into your code
random.randrange(1,10)

2

In [20]:
x = "1"
float(x)

1.0

## Strings

In [21]:
a = 'Hello'
print (a)

Hello

In [22]:
b = """
This is a Datascince course
We are in batch 2
We started with python
"""
print (b)

This is a Datascince course
We are in batch 2
We started with python

In [23]:
a = "I like icecream"

In [24]:
a[0]

'I'

In [25]:
len(a)

15

In [26]:
for i in a:
  print(i)

I

l
i
k
e

i
c
e
c
r
e
a
m

In [28]:
for i in range(0,len(a)):
  print (a[i])

I

l
i
k
e

i
c
e
c
r
e
a
m

In [29]:
a

'I like icecream'

In [32]:
a.split('like')

['I ', ' icecream']

In [34]:
str1 = 'My name is Ajay'
print(str1.split(' '))

['My', 'name', 'is', 'Ajay']

In [37]:
str1 = "This is a basic class on python"
print ("class" in str1)

True

In [38]:
if "class" in str1:
  print ('Yes class is present in the text')

Yes class is present in the text

In [39]:
print ("class" not in str1)

False

In [41]:
print ('expensive' not in str1)

True

In [42]:
str2 = "hello world"
str2[2:5] #[staartposition:endposition]

'llo'

In [43]:
str2[:4]

'hell'

In [44]:
str2[3:]

'lo world'

In [45]:
str2[-5:-1]

'worl'

In [47]:
str2[-1:-2]

''

In [48]:
str2[-1:-5]

''

In [49]:
str3 = "Rama killed Ravana"
str3.upper()

'RAMA KILLED RAVANA'

In [50]:
str3.lower()

'rama killed ravana'

In [51]:
str3.replace('Rama','King od Ayodhya')

'King od Ayodhya killed Ravana'

In [55]:
str3 = "rama killed Ravana"
str3.upper()

'RAMA KILLED RAVANA'

In [56]:
str3.capitalize()

'Rama killed ravana'

In [58]:
a = 'Hello'
b = 'World'

In [59]:
a + b

'HelloWorld'

In [60]:
a + ' ' + b

'Hello World'

In [61]:
x = 5

In [62]:
print (f'I bought {x} apples')

I bought 5 apples

In [63]:
str4 = 'I bought {} apples'
str4.format(x)

'I bought 5 apples'

In [ ]:
'''
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
'''

##Boolean Operators

In [64]:
print (10 > 5)

True

In [65]:
print (10 == 9)

False

In [66]:
print (10<9)

False

In [67]:
a = 200
b = 13
if b >a:
  print ('hi')
else:
  print ('hello')

hello

In [68]:
def evenodd(x):
  for j in x:

    if j % 2 == 0:
      print (j)



l1 = [i for i in range(0,10)]
evenodd(l1)

0
2
4
6
8